apiVersion: v1
kind: Secret
metadata:
  name: digitransit-ui
type: Opaque
stringData:
  LOCATIONIQ_API_KEY: FIXME
---
apiVersion: v1
kind: Secret
metadata:
  name: wunderfleet-gbfs-opener-zeus
type: Opaque
stringData:
  WUNDER_BACKEND_HOST: FIXME
  WUNDER_API_TOKEN: FIXME
